<form
  [formGroup]="form"
  class="container justify-content-center align-items-center m-5"
  (ngSubmit)="generateAd(content)"
>
  <div class="form-group row">
    <label for="url" class="col-sm-2 col-form-label">Click URL</label>
    <input
      [ngClass]="{
        'is-invalid':
          form.controls.url.invalid &&
          (form.controls.url.dirty || form.controls.url.touched)
      }"
      type="text"
      class="form-control col-sm-10"
      formControlName="url"
      id="url"
      placeholder="enter URL for picture"
    />
  </div>
  <div class="form-group row">
    <label for="picture" class="col-sm-2 col-form-label"
      >Choose a picture</label
    >
    <input
      [ngClass]="{
        'is-invalid':
          form.controls.picture.invalid &&
          (form.controls.picture.dirty || form.controls.picture.touched)
      }"
      accept="image/*"
      type="file"
      class="form-control-file col-sm-10"
      id="picture"
      (change)="readUrl($event)"
      formControlName="picture"
    />
  </div>
  <div class="form-group row">
    <label for="animationType" class="col-sm-2 col-form-label">Animation</label>
    <select
      class="form-control col-sm-10"
      id="animationType"
      formControlName="animationType"
      [ngClass]="{
        'is-invalid':
          form.controls.animationType.invalid &&
          (form.controls.animationType.dirty ||
            form.controls.animationType.touched)
      }"
    >
      <option [value]="1">Left to Right</option>
      <option [value]="2">Right to Left</option>
    </select>
  </div>
  <button [disabled]="form.invalid" class="btn btn-block btn-primary">
    Generate Advertisement
  </button>
</form>
<div
  class="alert alert-danger"
  *ngIf="form.invalid && (form.dirty || form.touched)"
>
  All fields are required
</div>
<div
  class="alert alert-danger"
  *ngIf="form.controls.url.invalid &&
  (form.controls.url.dirty || form.controls.url.touched)"
>
 Enter valid URL
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <a href="{{ form.value.url }}">
      <img [@slideLeft] *ngIf="form.value.animationType == 1" [src]="fileUrl"/>
      <img [@slideRight] *ngIf="form.value.animationType == 2" [src]="fileUrl"/>
      <!-- we can also do this with custom triggers and only one animation but i decide that this way faster for this task-->
    </a>
  </div>
</ng-template>
